Using xtdb via http python requests.

In [1]:
import py_xtdb as xt
import pandas as pd

we can check if a server is running with `xt.status()`.

In [30]:
xt.status(host="http://localhost:3001")

{'version': '1.21.0',
 'revision': 'db66ed6d3aa4e814ba34e988a5d898381dec6c81',
 'kvStore': 'xtdb.rocksdb.RocksKv',
 'estimateNumKeys': 167017,
 'size': 12383093,
 'indexVersion': 20,
 'consumerState': None}

(You'll probably have no keys if this is your first go)

We'll create some fake data to transact with python's faker.

In [3]:
from faker import Faker
import random 
fake = Faker()

def fake_doc():
    return {"name"    : fake.name()    ,
            "city"    : fake.city()    ,
            "state"   : fake.state()   ,
            "address" : fake.address() ,
            "xt/id"   : random.randint(1, 10),
            #"xt/id"      : fake.uuid4(),
            "observation-date": fake.date_time_between(start_date='-15yr', end_date='now').isoformat(),
            }

docs = [fake_doc() for _ in range(20)]

In [4]:
pd.DataFrame(docs)

,name,city,state,address,xt/id,observation-date
0,Matthew Snyder,Port Christopher,Rhode Island,98912 Lauren Alley Apt. 104\nNorth Davidcheste...,2,2013-04-05T01:04:05
1,Monique Kaufman,Strongfort,Massachusetts,"255 Robert Lights Apt. 802\nPort Lisa, RI 99031",7,2019-07-25T10:56:13
2,Brian Anderson,Deleonberg,Maryland,"269 Tucker Heights Suite 011\nMartinville, OR ...",3,2015-10-26T01:26:58
3,Robert Johnson,New Kimberly,New Hampshire,"71617 Huang Ramp\nNorth Nathanielshire, RI 14862",4,2008-11-30T11:14:10
4,David Colon,East Richard,Texas,Unit 8047 Box 1890\nDPO AA 32252,7,2019-12-04T03:23:16
5,Kyle Watkins,Patrickberg,Maine,"1520 Lori Plaza\nLake Kelly, VT 77251",4,2010-05-07T00:54:12
6,Diana Fischer,West Jonathanport,South Carolina,"003 Rosario Ramp\nRayton, MS 93366",2,2021-06-26T16:33:13
7,Bradley Brown,Floresview,Florida,"93212 Carrillo Junctions\nCardenashaven, CA 50600",6,2011-06-03T09:31:14
8,Stephanie Leonard,Aaronville,Ohio,"668 Short Knolls\nMargaretfort, ME 97472",4,2012-11-22T12:08:29
9,Michael Terry,East Nicholas,California,"52143 Leah Run\nDaltonshire, NM 74899",3,2008-09-07T09:40:11
10,Erica Burgess,Rubioview,Delaware,"1738 Kevin Extension\nMorrowtown, AZ 85363",8,2017-05-21T17:56:54
11,Katelyn Diaz,New Karaburgh,Oklahoma,"629 Austin Pines Apt. 086\nPort Benjamin, CT 5...",1,2009-08-27T12:05:29
12,Joseph Dudley,Christinefort,Kentucky,"3608 Wendy Land Suite 886\nShanefort, WI 33849",1,2019-10-12T03:19:55
13,Juan Hines,Maryside,Missouri,"847 Julie Cliff\nJacksonbury, ND 17091",8,2017-12-03T08:35:31
14,Alexandria Hester,East David,Minnesota,54196 Patrick Garden Suite 682\nSouth Barryvie...,2,2014-12-14T04:01:07
15,Ashley Rodriguez,Andersonberg,Pennsylvania,"163 Morris Mill Apt. 546\nChavezmouth, AL 94429",10,2015-12-10T11:34:07
16,Sean Hunt,Moralesmouth,Delaware,"06622 David Shoal Apt. 937\nLake Renee, UT 64263",8,2013-02-04T17:19:09
17,Lori Meadows,South Melissastad,Washington,"313 Mark Crest Apt. 185\nWest Richardmouth, AK...",8,2017-12-17T22:35:32
18,William Brown,Brooksview,Nebraska,"967 Cheryl Plains\nNorth Kimville, MN 50843",7,2017-04-25T17:05:12
19,Donald Kennedy,Robertton,Idaho,Unit 1515 Box 4635\nDPO AP 27254,9,2008-07-17T17:54:12

We can transact those documents into xtdb with the following:

In [4]:
xt.submit_tx(host="http://localhost:3001", docs=docs)

{'txId': 21, 'txTime': '2022-05-17T04:53:50Z'}

And now we should see some key stats:

In [5]:
xt.attribute_stats()

{'address': 5261,
 'fav-number': 1,
 'name': 5261,
 'city': 5261,
 'observation-date': 5261,
 'state': 5261,
 'observation-date2': 220,
 'xt/id': 5261}

To query them something like this should work:

In [6]:
xt.query_edn(host="http://localhost:3001", 
             data="""
          {:query {:find [ (pull ?id [*])]         
         :where [[?id :xt/id]
                 [?id :name ?name]
                 [?id :address ?address]]
         :limit 2}}             
             """)

[[{'address': '26590 Victoria Trail\nPort Bryce, AR 37777',
   'name': 'Katie Calhoun',
   'city': 'Matthewside',
   'observation-date': '2008-12-18T07:41:59',
   'state': 'Michigan',
   'xt/id': 1}],
 [{'address': '249 Freeman Roads\nEast Donna, CO 06556',
   'name': 'Sara Marsh',
   'city': 'South Victor',
   'observation-date': '2012-06-15T10:10:37',
   'state': 'Ohio',
   'xt/id': 2}]]

If you pass `:keys` into an xtdb query this could be read directly into a dataframe:

In [7]:

pd.DataFrame(
xt.query_edn(host="http://localhost:3001", 
             data="""
          {
         :query {:find [?name ?city]         
         :keys [name city] 
         :where [[?id :city ?city]
                 [?id :name ?name]
                 ]
         :limit 200}}             
             """))

             name               city
0   Katie Calhoun        Matthewside
1      Sara Marsh       South Victor
2  Jessica Bowers  South Latoyamouth
3    Amber Harvey         West Steve
4  Alan Gutierrez         Clarkhaven
5     Eric Walker          Janetview
6      Derek Rice         Mckaymouth
7   Diane Coleman    Christopherfort
8   Bailey Tucker   Lake Kathrynberg
9    David Cortez      Gallegosmouth

You can grab a specific entity with `xt.entity`:

In [8]:
our_doc = xt.entity_json(params={"eid-json":"1"})
our_doc

{'address': '26590 Victoria Trail\nPort Bryce, AR 37777',
 'name': 'Katie Calhoun',
 'city': 'Matthewside',
 'observation-date': '2008-12-18T07:41:59',
 'state': 'Michigan',
 'xt/id': 1}

We can add some history for this id.  Add a fav number:

In [9]:
our_doc['fav-number'] = 9

In [11]:
xt.submit_tx(docs=[our_doc,])

{'txId': 22, 'txTime': '2022-05-17T04:54:09Z'}

Now we can see some doc history:

In [14]:
pd.DataFrame(xt.entity_json(params={"eid-json":"1",  "with-docs": "false", "history": "true", "sort-order": "desc"}))

,txTime,txId,validTime,contentHash
0,2022-05-17T04:54:09Z,22,2022-05-17T04:54:09Z,db25cbb334f43fb942933bc1b219d02cc24e819b
1,2022-05-17T04:53:50Z,21,2022-05-17T04:53:50Z,40b3f649e0e79830d404d44c3511938990bd7b17
2,2022-05-17T04:53:07Z,19,2022-05-17T04:53:07Z,0121fac411c78136594cbd922b5b8f21571c288f
3,2022-05-17T04:02:13Z,18,2022-05-17T04:02:13Z,99217824097a03d9338f5467ebfc5a517818d977
4,2022-05-17T04:02:13Z,17,2022-05-17T04:02:13Z,77e2df34ac57fe086e2e6c8a354fa6ea23eaa4aa
5,2022-05-17T04:02:13Z,16,2022-05-17T04:02:13Z,0f0c72854f3eff41d92408f146ad822f548b90af
6,2022-05-17T04:02:13Z,15,2022-05-17T04:02:13Z,2e38c6c1b944c635e205f6d1e20368766b171ff0
7,2022-05-17T04:02:13Z,14,2022-05-17T04:02:13Z,c549b2ecd9dc8f7400f3dfadfd18ff304ead072b
8,2022-05-17T04:02:12Z,13,2022-05-17T04:02:12Z,e1f094ae276a67140e9598df9d25825fe0a1a9cd
9,2022-05-17T04:02:12Z,12,2022-05-17T04:02:12Z,5dc65d26b30ccb5a32c8b2bc13f3b76eae7c788c
10,2022-05-17T04:02:12Z,11,2022-05-17T04:02:12Z,d6615d97843b447d48378481482dc58a14380a29
11,2022-05-17T04:02:12Z,10,2022-05-17T04:02:12Z,0e5444936e05fbeea6a1edd1b9bb3ac696bda682
12,2022-05-17T04:02:12Z,9,2022-05-17T04:02:12Z,ae990157c4b0113df3f57423cb1542bd00b3c803
13,2022-05-17T04:02:12Z,8,2022-05-17T04:02:12Z,1d454bc8a011ae8dae16ce83f41d8f416f5321b5
14,2022-05-17T04:02:12Z,7,2022-05-17T04:02:12Z,05a83cca1ba1b6cc5a3243187d8a73911421f0dc
15,2022-05-17T04:02:12Z,6,2022-05-17T04:02:12Z,f822c7cbd78c2f98a5c18dcf689150240af2a853
16,2022-05-17T04:02:12Z,5,2022-05-17T04:02:12Z,9b31c2610111159ea159f87251f6324c79b4ca1f
17,2022-05-17T04:02:12Z,4,2022-05-17T04:02:12Z,0137814fb272ca50b673b8a7f2f6ccfdd07ab0aa
18,2022-05-17T04:02:12Z,3,2022-05-17T04:02:12Z,878edd25ba63349748779f90e7e7d48859959fd2
19,2022-05-17T04:02:12Z,2,2022-05-17T04:02:12Z,588ee7bfdf05011ad409ded86e742d3c6f262200
20,2022-05-17T03:59:42Z,1,2022-05-17T03:59:42Z,55f7d009bb175cddc9056f37f62db9d24471beef
21,2022-05-17T03:59:31Z,0,2022-05-17T03:59:31Z,a1011eb66184023a7b1134349dc6065038914db1
22,2022-05-17T04:53:07Z,20,2018-03-31T07:05:32Z,074bd8f79e80fd85d33fd05a6912d2c502a507f6
23,2022-05-17T04:53:07Z,20,2017-10-19T13:16:53Z,ab238e0533b3a9e6f1cc7b1b77531d49de304baf
24,2022-05-17T04:53:07Z,20,2014-08-06T04:57:22Z,8a26d348b4d0bb88b22c1bc1dd49e2bf18c19663
25,2022-05-17T04:53:07Z,20,2010-08-17T22:22:50Z,26d2c0aeb2af63b63e89ed8b3c310908253a1e2c
26,2022-05-17T04:53:07Z,20,2007-10-11T15:47:43Z,cb3fe396b2183ce01377fed9d8d3d5196cc0c821

----
Lets add some additional fake docs and try one of the lucene queries:

In [15]:
from toolz import partition_all

In [16]:
docs = [fake_doc() for _ in range(5000)]

We might want to batch up some transactions and we could use toolz's partition; here i'm batching docs into partitions at most 300 long:

In [18]:
[xt.submit_tx(host="http://localhost:3001", docs=docs_batch) for docs_batch in partition_all(300, docs)]

[{'txId': 23, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 24, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 25, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 26, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 27, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 28, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 29, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 30, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 31, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 32, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 33, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 34, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 35, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 36, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 37, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 38, 'txTime': '2022-05-17T04:54:58Z'},
 {'txId': 39, 'txTime': '2022-05-17T04:54:58Z'}]

In [19]:
xt.attribute_stats()

{'address': 10262,
 'fav-number': 2,
 'name': 10262,
 'city': 10262,
 'observation-date': 10262,
 'state': 10262,
 'observation-date2': 220,
 'xt/id': 10262}

TODO Probably need to think about the equivelent of sql injection if you are doing anything like this with string manipulation.  It would probably be better to use XT's `:in` parameters.

In [29]:
search_term = "mouth~"

edn_query = """
{:query 
{:find [ ?score
         ?attribute
         ?value
         (pull ?id [*])]
  :keys [matched-score matched-attribute matched-value results]               
  :where [[(wildcard-text-search "%s") [[?id ?value ?attribute ?score]]]
          [?id :xt/id]                 
          ]
   :order-by [[?score :desc]]
  :limit 30}  }""" % search_term 

results = xt.query_edn(host="http://localhost:3001", 
             data=edn_query)

display(pd.DataFrame(results))
display(results)

,matched-score,matched-attribute,matched-value,results
0,1.528647,city,South Steven,{'address': '84081 Alexis Mission Suite 868 An...
1,1.146486,city,North Zachary,"{'address': '3339 Troy Street West Colin, IL 4..."
2,1.146486,city,North Katelynport,"{'address': '1972 Vickie Common Frankmouth, VA..."
3,0.923634,address,"28507 Jason Rest\nSouth Cesar, CA 97825","{'address': '28507 Jason Rest South Cesar, CA ..."

[{'matched-score': 1.5286474227905273,
  'matched-attribute': 'city',
  'matched-value': 'South Steven',
  'results': {'address': '84081 Alexis Mission Suite 868\nAnitaport, TN 83881',
   'name': 'Jason Johnston',
   'city': 'South Steven',
   'observation-date': '2010-03-31T09:34:12',
   'state': 'New Hampshire',
   'xt/id': 4}},
 {'matched-score': 1.1464855670928955,
  'matched-attribute': 'city',
  'matched-value': 'North Zachary',
  'results': {'address': '3339 Troy Street\nWest Colin, IL 43076',
   'name': 'Kevin Cooke',
   'city': 'North Zachary',
   'observation-date': '2020-03-29T01:05:02',
   'state': 'Louisiana',
   'xt/id': 6}},
 {'matched-score': 1.1464855670928955,
  'matched-attribute': 'city',
  'matched-value': 'North Katelynport',
  'results': {'address': '1972 Vickie Common\nFrankmouth, VA 71681',
   'name': 'Rebecca Dunn',
   'city': 'North Katelynport',
   'observation-date': '2017-01-21T06:34:26',
   'state': 'Arkansas',
   'xt/id': 9}},
 {'matched-score': 0.9236342906951904,
  'matched-attribute': 'address',
  'matched-value': '28507 Jason Rest\nSouth Cesar, CA 97825',
  'results': {'address': '28507 Jason Rest\nSouth Cesar, CA 97825',
   'name': 'Steven Bray',
   'city': 'Lake Julie',
   'observation-date': '2017-11-26T04:13:16',
   'state': 'Vermont',
   'xt/id': 8}}]